<div class="col-xs-12 col-sm-8">
  <h1>Welcome <%= current_user.username %>!</h1>
  <p>It's <%= Time.now %></p>
  <div>
    <p>We have <%= pluralize(@total_orders.count, "order") %></p>
  </div>

  <table class="table table-striped table-hover order_table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Total Price</th>
        <th>Shipped?</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'orders/order', collection: @total_orders %>
    </tbody>
  </table>
</div>

<%= render 'components/sidebar' %>

