<h1>Your Order <%= @order.id %> has been received</h1>

<div>
  <p>Dear <%= @order.name %>,</p>
  <p>Thank you for ordering with Shopper store.</p>
  <p>Please be advised we are currently processing your order with the following items:</p>
  <div>
  <table>
    <% @order.line_items.each do |item| %>
      <tr>
        <td><%= image_tag item.product.image(:thumb) %></td>
        <td><%= item.product.title %></td>
        <td><%= item.quantity %></td>
        <td><%= sprintf("Php%0.02f", item.total_price) %></td>
      </tr>
    <% end %>
  </table>
  </div>
  <p>We will send another email when order has been shipped.</p>
</div>
