<p id="notice"><%= notice %></p>

<div class="list-group well">
  <h2>Shopping Cart</h2>
  <table class="table table-striped table-hover cart_table">
    <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
      <% @cart.line_items.each do |item| %>
        <tr>
          <td><%= image_tag item.product.image(:thumb) %></td>
          <td><%= item.product.title %></td>
          <td><%= item.quantity %></td>
          <td><%= sprintf("Php%0.02f", item.product.price) %></td>
          <td><%= sprintf("Php%0.02f", item.total_price) %></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Price</td>
        <td><%= sprintf("Php%0.02f", @cart.total_price) %></td>
      </tr>
    </tbody>
  </table>

  <%= button_to "Empty cart", @cart, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
</div>
