<p id="notice"><%= notice %></p>

<div>
  <h1><%= @product.title %></h1>
  <div class="col-xs-3">
    <%= image_tag @product.image(:medium) %>
  </div>
  <div class="col-xs-9">
    <p><%= @product.body %></p>
    <p>Php <%= @product.price %></p>
  </div>
</div>

<div>
  <%= button_to "Add to cart", line_items_path(product_id: @product.id), :class => "btn btn-primary" %>
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(@product) %> |
  <% end %>
  <%= link_to 'Back', store_path %>
</div>
