<% if line_item == @current_item %>
  <tr id="current_item">
<% else %>
  <tr>
    <td><%= image_tag line_item.product.image(:thumb) %></td>
    <td><%= line_item.product.title %></td>
    <td><%= line_item.quantity %></td>
    <!-- <td><%= sprintf("Php%0.02f", line_item.product.price) %></td> -->
    <td><%= number_to_currency(line_item.total_price) %></td>
    <td><%= link_to t('.remove'), line_item, :method => :delete, :confirm => 'Are You Sure', :class => "small" %> </td>
  </tr>
<% end %>
