<!--
<div class="well well-lg" id="store_header">
  <h1>Shopper</h1>
  <h4><em>We sell books made for the creative person in you <i class="mdi-action-favorite"></i></em></h4>
</div> -->

<!-- <div class="col-xs-12 col-sm-8"> -->
  <h3>Listing Products</h3>
  <% cache ['store', Product.latest] do %>
    <% @products.each do |product| %>
      <% cache ['entry', product] do %>
        <div class="entry col-sm-4">
          <%= image_tag product.image(:medium) %>
          <h4><%= link_to product.title, product_path(id: product.id) %></h4>
          <p><%= truncate(strip_tags(product.body), length: 80) %></p>
          <p><%= sprintf("Php%0.02f", product.price) %></p>
          <%= button_to "Add to cart", line_items_path(product_id: product.id), remote: true, :class => "btn btn-primary" %>
      </div>
      <% end %>
    <% end %>
  <% end %>
<!-- </div> -->


