<!DOCTYPE html>
<html>
<head>
  <title>Shopper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= render 'components/navigation' %>
  <%= yield %>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
    $(document).ready(function() {
      $.material.init();
    });
  </script>

</body>
</html>
