<!DOCTYPE html>
<html>
<head>
  <title>Shopper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <% if notice %>
    <%= render 'components/notice' %>
  <% end %>

  <div class="well well-lg" id="store_header">
    <h1>Shopper</h1>
    <h4><em>We sell books made for the creative person in you <i class="mdi-action-favorite"></i></em></h4>
  </div>

  <%= yield %>

</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
    $(document).ready(function() {
      $.material.init();
    });
  </script>

</body>
</html>
